{% extends "top.html" %}
{% block page_content %}
<!-- page content -->
 <div class="">
   <div class="page-title">
    <div class="title_left">
      <h3>Налаштування чату</h3>
    </div>
  </div>
 <div class="row"> 
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Редагування налаштуваннь чату:{{chat.tg_chat_name}}</h2>
      </div>
       <div class="x_content">
         <form name = "chat_opt_frm" action "" method ="POST">
           {{chat_opt_frm.hidden_tag()}}
          <div class = ".col-md-4">
            <ul class ="to_do">
        
                          <li>
                            
                            <p>
                            {{chat_opt_frm.proxy (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                              Дозволити створювати проксі 
                            </p>
                          </li>
                          <li>
                              <p>
                                  {{chat_opt_frm.multi_proxy (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                                Дозволити мультипроксі
                              </p>
                          </li>
            </ul>
          </div>
          <div class = ".col-md-4">
              <ul class ="to_do">
                          <li>
                            <p>
                                {{chat_opt_frm.bonuses (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                            Відображати бонуси</p>
                          </li>
              </ul>              
                          <p><b>Максимальна кількість бонусів для відображення:</b></p>
                            <div style="display:inline">
                              <canvas width="110" height="120"></canvas>
                              {{chat_opt_frm.bonuses_count(type="text")}}
                            </div>
                          </p>
                              
          </div>

          <div class = ".col-md-4">
                              <ul class ="to_do">
                        <li>
                            <p>
                                {{chat_opt_frm.codes (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                              Дозволити вбивати коди
                            </p>
                          </li>
                          <li>
                            <p>
                                {{chat_opt_frm.codes_deny (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                              Дозволити вбивати коди при обмеженні
                            </p>
                          </li>
                          <li>
                            <p>
                                {{chat_opt_frm.vote (class="flat", style="position: absolute; opacity: 0;", type="checkbox")}}
                              Проводити голосування при обмеженні
                            </p>
                          </li>
                        </ul>
                          <p><b>Відсоток гравців необхідний для підтвердження коду:</b></p>
                            <div style="display:inline">
                              <canvas width="110" height="120"></canvas>
                              {{chat_opt_frm.vote_percent(type="text")}}
                            </div>
                          </p>
              </div>

            </form>                      
                    
    </div>
  </div>
</div>

<!-- /page content -->



{% endblock %}

