{% extends "top.html" %}
{% block page_content%}
<!-- page content -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
          <div class="col-sm-6">
            <div class="dataTables_length" id="datatable-responsive_length">
              <label>Show <select name="datatable-responsive_length" aria-controls="datatable-responsive" class="form-control input-sm"> 
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option> </select>entries</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="datatable-responsive_filter" class="dataTables_filter">
            <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="datatable-responsive" type="search">
            </label>
          </div>
        </div>                 
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Логін</th>
                          <th>Пароль</th>
                          <th>Коментар</th>
                          <th>Видалити</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for gamer in gamers %}
                        <tr>
                          <td>{{gamer.login}}</td>
                          <td>{{gamer.password}}</td>
                          <td>{{gamer.comment}}</td>
                          <td> 
                            <form method = "post" name ="form{{gamer.id}}" action="">
                            {{form.hidden_tag()}}
                            <button type = "submit">Видалити</button>
                            </form>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
          </div>
          <div class="x_panel">
            <div class="x_title">
               <h2>Додати нового гравця</h2>
               <div class = "clearfix"
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" action="" method="post">
                    {{add_gamer_frm.hidden_tag()}}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Логін:</label>
                        <span class="required">*</span>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                {{add_gamer_frm.login}}
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Пароль:</label>
                            <span class="required">*</span>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{add_gamer_frm.password}}
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Коментар:</label>
                            <span class="required">*</span>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{add_gamer_frm.comment}}
                            </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Додати</button>
                            </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /page content -->

{% endblock%}
