{% extends "top.html" %}
{% block page_content %}
<!-- page content -->
 <div class="">
 <div class="page-title">
 <div class="title_left">
 <h3>Створити нову гру</h3>
 </div>
 <div class="clearfix"></div>
 <div class="row"> 
 <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
  <div class="x_title">
  <h2>Параметри гри</h2>
 <div class="clearfix"></div>
</div>
 <div class="x_content">
   <form method="POST" action="" name="new_game_frm" class="form-horizontal form-label-left">
     {{new_game_frm.hidden_tag()}}
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="domain">Домен <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {{new_game_frm.game_domain(class_="form-control col-md-7 col-xs-12")}}
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="game">Гра <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{new_game_frm.game_id (class_="form-control col-md-7 col-xs-12") }}
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gamer">Гравець <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  {{new_game_frm.gamer(class_="form-control col-md-7 col-xs-12")}}
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chat">Чат <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  {{new_game_frm.chat(class_="form-control col-md-7 col-xs-12")}}
              </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button class="btn btn-primary" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
   </form>
  
</div>
</div>
</div>
</div>
</div>
<!-- /page content -->


</div>
{% endblock %}

