{% extends "top.html" %}
{% block page_content %}
<!-- page content -->
 <div class="">
 <div class="page-title">
 <div class="title_left">
 <h3>Створити нову гру</h3>
 </div>
 <div class="clearfix"></div>
 <div class="row"> 
 <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
  <div class="x_title">
  <h2>Параметри гри</h2>
 <div class="clearfix"></div>
</div>
 <div class="x_content">
   <form method="POST" action="" name="new_game_frm" class="form-horizontal form-label-left">
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="domain">Домен <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="domain" required="required" class="form-control col-md-7 col-xs-12">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="game">Гра <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="game" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gamer">Гравець <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <select name="gamer" id="gamer" required="required" class="form-control col-md-7 col-xs-12">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="fiat">Fiat</option>
                      <option value="audi">Audi</option>
                    </select> 
              </div>
          </div>
   </form>
  
</div>
</div>
</div>
</div>
</div>
<!-- /page content -->


</div>
{% endblock %}

