{% extends "top.html" %}
{% block page_content %} 
       <!-- page content -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Редагування ролі користувача</h3>
              </div>
            </div>
       
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src="{{edited_user.avatar(256)}}" alt="Avatar">
                        </div>
                      </div>
                    </div>
                    <h3>{{ edited_user.login }}</h3>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="profile_title">
                   <div class="col-md-6">
                        <form action="/users" method="post" name="login">
                                {{role.hidden_tag()}}
                                {%if edited_user.role == 0%}
                                <h3>Поточна роль: <b>користувач</b></h3>
                                {% endif %}
                                {%if edited_user.role == 1%}
                                <h3>Поточна роль: <b>адміністратор</b></h3>
                                {% endif %}
                                {%if edited_user.role == 2%}
                                <h3>Поточна роль: <b>суперкористувач</b></h3>
                                {% endif %}
                                <div class ="form-group">
                                    
                                        <label class = "control-label col-md-3 col-sm-3 col-xs-12">Нова роль:</label>
                                    
                                    
                                        {{role.role}}

                                </div>
                                <div class ="form-group">
                                    
                                        <button class="btn btn-primary" type="reset">Відмінити</button>
                                        <button class = "btn btn-success" type="submit">Зберегит</button>
                                    
                                </div>
                            </form>
                        </div>
                </div>
                     
              </div>
                   </div>
                </div>
              </div>
            </div>
              </div>
            
        <!-- /page content -->
{% endblock %}
