{% extends "head.html" %}
{% block content %}

 <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="" method="post" name="signup">
                {{form.hidden_tag()}}
              <h1>Реєстрація</h1>
              <div>
                <input name="newlogin" type="text" class="form-control" placeholder="Логін" required="" />
              </div>
              <div>
                <input name = "new_email" type="email" class="form-control" placeholder="Електронна пошта" required="" />
              </div>
              <div>
                <input name = "new_password1" type="password" class="form-control" placeholder="Пароль" required="" />
              </div>
              <div>
                <input name = "new_password2" type="password" class="form-control" placeholder="Повторити пароль" required="" />
              </div>
              {% if error %}
              <div class="alert alert-danger alert-dismissible fade in" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
               <strong>{{error}}</strong>
                </div>
              {% endif %}
              <div allign ="center">
                <input type= "submit" class="btn btn-default submit" value ="Зарeєструватись">
                <a class="reset_pass" href="#">Забули пароль?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Вже зареєстрований ?
                  <a href="login" class="to_register"> Увійти </a>
                </p>
                
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-shopping-cart"></i> Telega 2.0</h1>
                  <p>{{ about }}</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
