{% extends "top.html" %}
{% block page_content%}
<!-- page content -->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
          <div class="col-sm-6">
            <div class="dataTables_length" id="datatable-responsive_length">
              <label>Show <select name="datatable-responsive_length" aria-controls="datatable-responsive" class="form-control input-sm"> 
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option> </select>entries</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="datatable-responsive_filter" class="dataTables_filter">
            <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="datatable-responsive" type="search">
            </label>
          </div>
        </div>                 
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Login</th>
                          <th>Email</th>
                          <th>Telegram</th>
                          <th>Role</th>
                          <th>Change role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{user.login}}</td>
                          <td>{{user.email}}</td>
                          <td>@{{user.login}}</td>
                          <td>{{user.role}}</td>
                          <td><button id ="{{user.id}}">Change role</button></td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock%}